.body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
.header {
  border-bottom: 1px solid var(--border-header);
}

.header-portfolio {
  border-bottom: 1px solid var(--border-header);
}

textarea {
  resize: none;
}