:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --secondary-accent-color: rgba(255, 255, 255, 0.6);
  --background-color: #f5f4fa;
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
